<div>
    hello, this is templ.html
    <script type="text/javascript">
        // $(document).ready(()=>{
        //     alert("hello");
        // });
    </script>
    <!--#include virtual="/templ2.html" -->
</div>
